@font-face {
    font-family: 'ProductSans';
    src: URL('ProductSansRegular.ttf') format('truetype');
  }

  .google {
    font-family: ProductSans;
  }

.index {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

.indexHeader {
    width: 500px;
    margin-top: 150px;
    font-size: 60px;
}

.resultsHeader {
    margin: 30px;
    margin-bottom: 50px;
}

.barStyle {
    width: 300px;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    border: 1px solid #bbb;
    font-size: 15px;
}

hr {
    opacity: 0.5;
}

#searchResults {
    list-style-type: none;
    margin: 50px;
    margin-left: 100px;
}

li {
    padding: 20px;
    font-size: 20px;
}

.buttonStyle {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #f6f6f6;
    border: 1px solid #f6f6f6;
    border-radius: 4px;
}

